<mat-chip color="accent" selected>{{ title }}</mat-chip>
<mat-icon matSuffix>minimize</mat-icon>
<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <mat-icon matSuffix>filter_list_alt</mat-icon>
  <input matInput (keyup)="applyFilter($event)" #input />
</mat-form-field>

<mat-progress-bar *ngIf="!dataSource" mode="indeterminate"></mat-progress-bar>
<div class="mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let valcust">
        <a mat-raised-button color="primary" routerLink="/customer/{{ valcust.id }}">{{ valcust.id }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let valcust">{{ valcust.name }} | {{ valcust.secondaryName }}<br>
        {{valcust.post}}
      </td>
    </ng-container>
    <ng-container matColumnDef="loanCounter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loans</th>
      <td mat-cell *matCellDef="let valcust">{{ valcust.loanCounter }}</td>
    </ng-container>
    <ng-container matColumnDef="principal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Principal</th>
      <td mat-cell *matCellDef="let valcust">
        ₹<b>{{ valcust.principalOutstanding.toLocaleString("en-IN") }}</b>
        <br>
        {{ valcust.principal }} - {{ valcust.principalPaid }}
      </td>
    </ng-container>
    <ng-container matColumnDef="interest">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Interest</th>
      <td mat-cell *matCellDef="let valcust">
        ₹<b>{{ valcust.interestOutstanding.toLocaleString("en-IN") }}</b>
        <br>
        {{ valcust.interest }} -
        {{ valcust.interestPaid }}
      </td>
    </ng-container>
    <ng-container matColumnDef="valuation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valuation</th>
      <td mat-cell *matCellDef="let valcust">
        ₹<b>{{ (valcust.interestOutstanding+valcust.principalOutstanding).toLocaleString("en-IN") }}</b>
        <br>
        {{ valcust.valuation.toLocaleString("en-IN") }}
      </td>
    </ng-container>
    <ng-container matColumnDef="valuationPrcnt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valuation%</th>
      <td mat-cell *matCellDef="let valcust">{{ valcust.valuationPrcnt }}%</td>
    </ng-container>
    <!-- 
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
    </ng-container>
    <ng-container matColumnDef="post">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Post</th>
      <td mat-cell *matCellDef="let customer">{{ customer.post }}</td>
    </ng-container>
    <ng-container matColumnDef="pin">
      <th mat-header-cell *matHeaderCellDef>Pin</th>
      <td mat-cell *matCellDef="let customer">{{ customer.pin }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="50" [pageSizeOptions]="[20, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
</div>