<br />
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
      <h1 *ngIf="!customer"><br />loading...<br /></h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="customer" (ngSubmit)="onSubmit()" [formGroup]="customerForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Muthu" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Secondary name</mat-label>
        <input matInput formControlName="secondaryName" placeholder="Kuppu" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> <h3>Date</h3> </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [calendarHeaderComponent]="calHeader">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <textarea
          matInput
          formControlName="address"
          type="t"
          placeholder="abc Apartments, main road"
        >
        </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Post</mat-label>
        <input matInput formControlName="post" placeholder="Peravurani" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pin</mat-label>
        <input
          matInput
          formControlName="pin"
          type="number"
          placeholder="614804"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input
          matInput
          formControlName="phone"
          type="tel"
          placeholder="9876543210"
        />
      </mat-form-field>

      <p *ngIf="customerForm.status === 'INVALID'">
        Fill all the fields!
      </p>
      <br />
      <button
        mat-raised-button
        type="Submit"
        [disabled]="!customerForm.valid"
        color="primary"
      >
        Submit
      </button>
      <button mat-raised-button type="button" (click)="onDelete()" color="warn">
        Delete
      </button>
    </form>
  </mat-card-content>
</mat-card>
<br />
<mat-card *ngIf="titleLoanList">
  <mat-card-header>
    <mat-card-title>
      Loans of <i> {{ customer.name }}, {{ customer.secondaryName }}</i>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-customer-loan-list [id]="customer.id"> </app-customer-loan-list>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-header>
    <mat-card-title> Customer Photo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [src]="kycCustomerPhotoUrl" *ngIf="kycCustomerPhotoUrl" />
    <div *ngIf="!showWebcamPanel">
      <button
        mat-raised-button
        type="button"
        (click)="toggleWebcam(true)"
        color="primary"
      >
        Open Webcam
      </button>
    </div>
  </mat-card-content>
</mat-card>
<app-capture-customer-photo
  (pictureTaken)="handleImage($event)"
  *ngIf="showWebcamPanel && !webcamImage && titleLoanList"
></app-capture-customer-photo>
<div class="snapshot" *ngIf="showWebcamPanel && webcamImage">
  <img [src]="webcamImage.imageAsDataUrl" />
  <div>
    <button
      type="button"
      mat-raised-button
      mat-mini-fab
      color="warn"
      (click)="clearImage()"
      title="Clear Image"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="onSavePhoto()"
      color="primary"
    >
      Save Photo
    </button>
  </div>
</div>
<div *ngIf="showWebcamPanel">
  <button
    mat-raised-button
    type="button"
    (click)="toggleWebcam(false)"
    color="warn"
  >
    Close Webcam
  </button>
</div>
