<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
      <h1 *ngIf="!customer"><br />loading...<br /></h1>
    </mat-card-title>
  </mat-card-header>
  <form *ngIf="customer" (ngSubmit)="onSubmit()" [formGroup]="customerForm">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" [matAutocomplete]="nameAuto" />
        <mat-autocomplete autoActiveFirstOption #nameAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredNames | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Secondary name</mat-label>
        <input
          matInput
          formControlName="secondaryName"
          [matAutocomplete]="secNameAuto"
        />
        <mat-autocomplete autoActiveFirstOption #secNameAuto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredSecNames | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label> <h3>Date</h3> </mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [calendarHeaderComponent]="calHeader">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address"> </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Post</mat-label>
        <input matInput formControlName="post" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredPosts | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pin</mat-label>
        <input matInput formControlName="pin" type="number" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" type="tel" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </mat-card-content>
    <p *ngIf="customerForm.status === 'INVALID'">
      Fill all the fields!
    </p>
    <mat-card-actions>
      <button
        mat-raised-button
        type="Submit"
        [disabled]="!customerForm.valid"
        color="primary"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
      <button mat-raised-button type="button" (click)="onDelete()" color="warn">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </form>
</mat-card>
<br />
<mat-card *ngIf="showLoan">
  <mat-card-header>
    <mat-card-title>
      Loans of <i> {{ customer.name }}, {{ customer.secondaryName }}</i>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-customer-loan-list [id]="customer.id"> </app-customer-loan-list>
  </mat-card-content>
</mat-card>
<br />
<mat-card *ngIf="showLoan">
  <mat-card-header>
    <mat-card-title> Customer Photo </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Uncomment below line to enable customer photo load -->
    <!-- <img [src]="kycCustomerPhotoUrl" *ngIf="kycCustomerPhotoUrl" /> -->
  </mat-card-content>
  <mat-card-actions *ngIf="!showWebcamPanel">
    <button
      mat-raised-button
      type="button"
      (click)="toggleWebcam(true)"
      color="primary"
    >
      Open Webcam
    </button>
  </mat-card-actions>
</mat-card>
<br />
<app-capture-customer-photo
  *ngIf="showWebcamPanel && !webcamImage && showLoan"
  (pictureTaken)="handleImage($event)"
>
</app-capture-customer-photo>
<mat-card *ngIf="showWebcamPanel && webcamImage">
  <mat-card-header>
    <mat-card-title>
      Photo Preview
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="snapshot">
      <img [src]="webcamImage.imageAsDataUrl" />
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      type="button"
      mat-raised-button
      color="accent"
      (click)="clearImage()"
    >
      Retake Photo
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onSavePhoto()"
    >
      <mat-icon>save</mat-icon>
      Save Photo
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="toggleWebcam(false)"
      color="warn"
    >
      Close Webcam
    </button>
  </mat-card-actions>
</mat-card>
