<div class="mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let loan">
        <a mat-raised-button color="primary" routerLink="/loan/{{ loan.id }}">
          View loan - {{ loan.id }}
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="altId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Loan Id - alt</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.altId }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let loan">
        {{ getPrincipalActivity(loan.activities)?.date | date: "mediumDate" }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <b>
          Total
        </b>
      </td>
    </ng-container>
    <ng-container matColumnDef="principal">
      <th mat-header-cell *matHeaderCellDef>Principal</th>
      <td mat-cell *matCellDef="let loan">
        ₹{{
        getPrincipalActivity(loan.activities)?.amount.toLocaleString("en-IN")
        }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <b> ₹{{ getTotalPrincipal().toLocaleString("en-IN") }} </b>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.status }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let loan">{{ loan.weight }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>