<h1 *ngIf="!report">
  <br />loading...<br />
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</h1>
<div *ngIf="report">
  <div
    fxLayout="column"
    fxLayoutGap=".75rem"
    fxLayoutAlign="space-between"
    fxFill
  >
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Negative valuation </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanValX"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> 0 to 15% </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanVal0"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> 15 to 30% </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanVal15"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> 30 to 50% </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanVal30"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> 50 to 75% </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanVal50"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title> 75% above </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-loan-list
            [loans]="report.loanVal75"
            [loadLoans]="false"
          ></app-loan-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
