<form>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Thirumurugan" value="" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Secondary name</mat-label>
    <input matInput placeholder="Bankers" value="" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Post</mat-label>
    <input matInput placeholder="Peravurani" value="" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pin</mat-label>
    <input matInput placeholder="614804" value="" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address</mat-label>
    <textarea matInput placeholder="No.1/20, Sethu road"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Comment</mat-label>
    <input matInput value="" />
  </mat-form-field>
</form>
