<div *ngIf="loadLoans">
  <mat-chip color="accent" selected>{{ title }}</mat-chip>
  <mat-icon matSuffix>minimize</mat-icon>
  <mat-form-field *ngIf="loadLoans" appearance="outline">
    <mat-label>Filter</mat-label>
    <mat-icon matSuffix>filter_list_alt</mat-icon>
    <input matInput (keyup)="applyFilter($event)" placeholder="loan id or status" #input />
  </mat-form-field>
</div>
<mat-progress-bar *ngIf="!dataSource" mode="indeterminate"></mat-progress-bar>
<div class="mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="desc">
        Id
      </th>
      <td mat-cell *matCellDef="let loan">
        <a mat-raised-button color="primary" routerLink="/loan/{{ loan.id }}">{{
          loan.id
          }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="altId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alt id</th>
      <td mat-cell *matCellDef="let loan">{{ loan.altId }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let loan">
        {{ getPrincipalActivity(loan.activities)?.date | date: "mediumDate" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.customer.name }} | {{ loan.customer.secondaryName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="post">
      <th mat-header-cell *matHeaderCellDef>Post</th>
      <td mat-cell *matCellDef="let loan">{{ loan.customer.post }}</td>
    </ng-container>
    <ng-container matColumnDef="principal">
      <th mat-header-cell *matHeaderCellDef>Principal</th>
      <td mat-cell *matCellDef="let loan">
        ₹{{
        getPrincipalActivity(loan.activities)?.amount.toLocaleString("en-IN")
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let loan">
        <span [ngStyle]="{
            backgroundColor: loan.status === 'open' ? 'wheat' : 'darkgreen',
            color: loan.status === 'open' ? 'sienna' : 'white',
            fontWeight: 'lighter'
          }">&nbsp;&nbsp;{{ loan.status }}&nbsp;&nbsp;</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let loan">{{ loan.weight }}</td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
      <td mat-cell *matCellDef="let loan">{{ loan.comment }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="50" [pageSizeOptions]="[20, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
</div>