<h1>{{ title }}</h1>
<h1 *ngIf="!dataSource"><br />loading...<br /></h1>
<div class="mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let loan">
        <a mat-raised-button color="primary" routerLink="/loan/{{ loan.id }}">{{
          loan.id
        }}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="altId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alt id</th>
      <td mat-cell *matCellDef="let loan">{{ loan.altId }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let loan">
        {{ getPrincipalActivity(loan.activities)?.date | date: "mediumDate" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.customer.name }}, {{ loan.customer.secondaryName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="post">
      <th mat-header-cell *matHeaderCellDef>Post</th>
      <td mat-cell *matCellDef="let loan">{{ loan.customer.post }}</td>
    </ng-container>
    <ng-container matColumnDef="principal">
      <th mat-header-cell *matHeaderCellDef>Principal</th>
      <td mat-cell *matCellDef="let loan">
        {{ getPrincipalActivity(loan.activities)?.amount }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let loan">{{ loan.status }}</td>
    </ng-container>
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let loan">{{ loan.weight }}</td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Comment</th>
      <td mat-cell *matCellDef="let loan">{{ loan.comment }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSize]="100"
    [pageSizeOptions]="[20, 50, 100, 500, 1000]"
    showFirstLastButtons
  ></mat-paginator>
</div>
