<mat-toolbar color="primary">
  <button mat-button routerLink="/loans/open">
    Loans Open
    <button mat-mini-fab color="accent"><mat-icon>lock_open</mat-icon></button>
  </button>
  <button mat-button routerLink="/loans/closed">
    Loans Closed
    <button mat-mini-fab color="accent"><mat-icon>lock</mat-icon></button>
  </button>
  <button mat-button routerLink="/loans/all">
    Loans All
    <button mat-mini-fab color="accent"><mat-icon>email</mat-icon></button>
  </button>
  <button mat-button routerLink="/loan">
    Loan New
    <button mat-mini-fab color="accent"><mat-icon>note_add</mat-icon></button>
  </button>
  <button mat-button routerLink="/customers">
    Customers
    <button mat-mini-fab color="accent"><mat-icon>people</mat-icon></button>
  </button>
  <button mat-button routerLink="/customer">
    Customer New
    <button mat-mini-fab color="accent"><mat-icon>person_add</mat-icon></button>
  </button>

  <button mat-button [matMenuTriggerFor]="reportmenu">
    Reports
    <button mat-mini-fab color="accent"><mat-icon>fact_check</mat-icon></button>
  </button>
  <mat-menu #reportmenu="matMenu">
    <button mat-menu-item routerLink="/report/dated">
      <mat-icon color="accent">date_range</mat-icon>Dated
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/report/inception">
      <mat-icon color="accent">store_mall_directory</mat-icon>Inception
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/report/valuation/loan">
      <mat-icon color="accent">insert_chart</mat-icon>Valuation by Loan
    </button>
    <button mat-menu-item routerLink="/report/valuation/customer">
      <mat-icon color="accent">insert_chart</mat-icon>Valuation by Customer
    </button>
  </mat-menu>
  <span class="spacer"></span>
  <mat-chip-list>
    <mat-chip color="accent" selected (click)="ngOnInit()">
      <mat-icon>wb_iridescent</mat-icon>Gold 22k: ₹{{
      report.goldRate.toLocaleString("en-IN")
      }}
    </mat-chip>
    <!-- <mat-chip color="primary" selected>
    on {{ report.date | date: "MMM dd, yyyy" }}
  </mat-chip> -->
  </mat-chip-list>
</mat-toolbar>

<div class="basic-container">
  <router-outlet></router-outlet>
</div>