<h1>{{ title }}</h1>
<h1 *ngIf="!dataSource">
  <br />loading...<br />
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</h1>
<div class="mat-elevation-z6">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Name or Id"
      #input
    />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let customer">
        <a
          mat-raised-button
          color="primary"
          routerLink="/customer/{{ customer.id }}"
          >{{ customer.id }}</a
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
    </ng-container>
    <ng-container matColumnDef="secondaryName">
      <th mat-header-cell *matHeaderCellDef>Secondary Name</th>
      <td mat-cell *matCellDef="let customer">{{ customer.secondaryName }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.date | date: "MMM dd, yyyy" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
    </ng-container>
    <ng-container matColumnDef="post">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Post</th>
      <td mat-cell *matCellDef="let customer">{{ customer.post }}</td>
    </ng-container>
    <ng-container matColumnDef="pin">
      <th mat-header-cell *matHeaderCellDef>Pin</th>
      <td mat-cell *matCellDef="let customer">{{ customer.pin }}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSize]="100"
    [pageSizeOptions]="[20, 50, 100, 500, 1000]"
    showFirstLastButtons
  ></mat-paginator>
</div>
