<mat-card>
  <mat-card-content>
    <form *ngIf="loan" (ngSubmit)="onSubmit()" [formGroup]="loanForm">
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap=".75rem"
        fxLayoutAlign="space-between"
        fxFill
      >
        <div fxFlex="50">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ title }}
                <span *ngIf="!loan">
                  <br />loading...<br />
                  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
                </span>
              </mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <mat-form-field appearance="outline">
                <mat-label>Loan id - alt</mat-label>
                <input
                  matInput
                  formControlName="altId"
                  placeholder="type loan book serial id"
                />
              </mat-form-field>
              &nbsp;
              <span formGroupName="customer">
                <mat-form-field appearance="outline">
                  <mat-label>Customer id</mat-label>
                  <input
                    matInput
                    placeholder="5"
                    formControlName="id"
                    type="number"
                  />
                </mat-form-field>
              </span>
              &nbsp;
              <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="open">Open</mat-option>
                  <mat-option value="closed">Closed</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="50">
          <mat-card *ngIf="this.loan.customer.name">
            <mat-card-header>
              <mat-card-title>
                {{ this.loan.customer.name }} |
                {{ this.loan.customer.secondaryName }}
              </mat-card-title>
              <mat-card-subtitle>Id: {{ loan.id }}</mat-card-subtitle>
            </mat-card-header>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-content>
              <span>
                Address:<b>{{ this.loan.customer.address }} </b>
              </span>
              <br />
              <span>
                Post:<b> {{ this.loan.customer.post }} </b>
              </span>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-raised-button
                color="primary"
                routerLink="/customer/{{ this.loan.customer.id }}"
              >
                <mat-icon>person</mat-icon> View customer
              </a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <br />
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap=".75rem"
        fxLayoutAlign="space-between"
        fxFill
      >
        <div fxFlex="50">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Activities</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table mat-table [dataSource]="activityDataSource">
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>Date</th>
                  <td mat-cell *matCellDef="let activity">
                    {{ activity.date | date: "MMM dd, yyyy" }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Category</th>
                  <td mat-cell *matCellDef="let activity">
                    <div *ngIf="activity.category === 'principal'">
                      Principal
                    </div>
                    <div *ngIf="activity.category === 'finterest'">
                      Initial interest payment
                    </div>
                    <div *ngIf="activity.category === 'ipayment'">
                      Interest payment
                    </div>
                    <div *ngIf="activity.category === 'ppayment'">
                      Principal payment
                    </div>
                    <div *ngIf="activity.category === 'appraiserFee'">
                      Appraiser fee
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef>Amount</th>
                  <td mat-cell *matCellDef="let activity">
                    ₹{{ activity.amount.toLocaleString("en-IN") }}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="activityColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: activityColumns"></tr>
              </table>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                type="button"
                (click)="openActivityDialog()"
                color="accent"
              >
                <mat-icon>list</mat-icon> Add/Edit Activities
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div fxFlex="50">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Items</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table mat-table [dataSource]="itemDataSource">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let item">{{ item.name }}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>Quantity</th>
                  <td mat-cell *matCellDef="let item">{{ item.quantity }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="itemColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: itemColumns"></tr>
              </table>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                type="button"
                (click)="openItemDialog()"
                color="accent"
              >
                <mat-icon>shopping_cart</mat-icon> Add/Edit Items
              </button>
              &nbsp;
              <mat-form-field appearance="outline">
                <mat-label>Weight</mat-label>
                <input
                  matInput
                  formControlName="weight"
                  type="number"
                  placeholder="4.6"
                />
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="outline">
                <mat-label>Comment</mat-label>
                <input
                  matInput
                  formControlName="comment"
                  placeholder="return w/o receipt"
                />
              </mat-form-field>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <br />
      <div
        *ngIf="loanInterestReport"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap=".75rem"
        fxLayoutAlign="space-between stretch"
      >
        <div fxFlex="33">
          <mat-card
            [ngStyle]="{
              backgroundColor: '$mat-primary'
            }"
          >
            <mat-card-header>
              <mat-card-title> Accrued </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  Principal:&nbsp;
                  <b>
                    ₹{{ loanInterestReport.principal.toLocaleString("en-IN") }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Interest:&nbsp;
                  <b>
                    ₹{{ loanInterestReport.interest.toLocaleString("en-IN") }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Total:&nbsp;
                  <b>
                    ₹{{
                      (
                        loanInterestReport.principal +
                        loanInterestReport.interest
                      ).toLocaleString("en-IN")
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Period: &nbsp;
                  <b>{{ loanInterestReport.totalDays }}</b> &nbsp;days&nbsp;|
                  {{ age }}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="34">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Received</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  Principal:&nbsp;
                  <b>
                    ₹{{
                      loanInterestReport.principalPaid.toLocaleString("en-IN")
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Interest:&nbsp;
                  <b>
                    ₹{{
                      loanInterestReport.interestPaid.toLocaleString("en-IN")
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Total:&nbsp;
                  <b>
                    ₹{{
                      (
                        loanInterestReport.principalPaid +
                        loanInterestReport.interestPaid
                      ).toLocaleString("en-IN")
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Split-up: &nbsp;
                  {{ loanInterestReport.calcComment }}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="33">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Outstanding</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  Principal:&nbsp;
                  <b>
                    ₹{{
                      loanInterestReport.principalOutstanding.toLocaleString(
                        "en-IN"
                      )
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Interest:&nbsp;
                  <b>
                    ₹{{
                      loanInterestReport.interestOutstanding.toLocaleString(
                        "en-IN"
                      )
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Total:&nbsp;
                  <b>
                    ₹{{
                      (
                        loanInterestReport.principalOutstanding +
                        loanInterestReport.interestOutstanding
                      ).toLocaleString("en-IN")
                    }}
                  </b>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <mat-list-item>
                  Valuation:&nbsp;
                  <b>
                    ₹{{
                      loanInterestReport.valuation.toLocaleString("en-IN")
                    }}</b
                  >
                  &nbsp;|&nbsp;
                  <b> {{ valuationPcnt }}%</b>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <p *ngIf="loanForm.status === 'INVALID'">Fill all the fields!</p>
      <mat-card-actions>
        <button
          mat-raised-button
          type="Submit"
          [disabled]="!loanForm.valid"
          color="primary"
        >
          <mat-icon>save</mat-icon>
          Save
        </button>
        <button
          mat-raised-button
          type="button"
          (click)="onDelete()"
          color="warn"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
