<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Outstanding</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            Principal:&nbsp;
            <b>
              ₹{{(report.principalOpen - report.principalPaidOpen).toLocaleString("en-IN")}}
            </b>
          </mat-list-item>
          <mat-divider inset="true"></mat-divider>
          <mat-list-item>
            Interest:&nbsp;
            <b>₹{{ report.interestOutstandingOpen.toLocaleString("en-IN") }}</b>
          </mat-list-item>
          <mat-divider inset="true"></mat-divider>
          <mat-list-item>
            Total outstanding:&nbsp;
            <b>
              ₹{{
              (
              report.interestOutstandingOpen +
              report.principalOpen -
              report.principalPaidOpen
              ).toLocaleString("en-IN")
              }}
            </b>
          </mat-list-item>
          <mat-divider inset="true"></mat-divider>
          <mat-list-item>
            Loan Count - Open:&nbsp;
            <b>{{ report.loanCountOpen.toLocaleString("en-IN") }}</b>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Received</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            Principal:&nbsp;
            <b>
              ₹{{
              (report.principalPaidOpen).toLocaleString("en-IN")
              }}
            </b>
          </mat-list-item>
          <mat-divider inset="true"></mat-divider>
          <mat-list-item>
            Interest Open:&nbsp;
            <b>₹{{ report.interestPaidOpen.toLocaleString("en-IN") }}</b>
          </mat-list-item>
          <mat-divider inset="true"></mat-divider>
          <mat-list-item>
            Total received:&nbsp;
            <b>
              ₹{{
              (report.interestPaidOpen + report.principalPaidOpen).toLocaleString("en-IN")
              }}
            </b>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title }}
      <h1 *ngIf="!report">
        <br />loading...<br />
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="report">
    <mat-list>
      <mat-list-item>
        Loan Principal:&nbsp;
        <b>₹{{ report.principalOpen.toLocaleString("en-IN") }}</b>
        &nbsp;|&nbsp;Loan Principal paid:&nbsp;
        <b>₹{{ report.principalPaidOpen.toLocaleString("en-IN") }}</b>
        &nbsp;|&nbsp;
        <span class="mat-title">
          Principal Outstanding:&nbsp;
          <b>
            ₹{{
            (report.principalOpen - report.principalPaidOpen).toLocaleString(
            "en-IN"
            )
            }}
          </b>
        </span>
      </mat-list-item>
      <mat-divider inset="true"></mat-divider>
      <mat-list-item>
        Total Interest:&nbsp;
        <b>
          ₹{{
          (
          report.interestPaidOpen + report.interestPaidClosed
          ).toLocaleString("en-IN")
          }}
        </b>
        &nbsp;|&nbsp; Interest paid - Open:&nbsp;
        <b>₹{{ report.interestPaidOpen.toLocaleString("en-IN") }}</b>
        &nbsp;|&nbsp; Interest paid - Closed:&nbsp;
        <b>₹{{ report.interestPaidClosed.toLocaleString("en-IN") }}</b>
        &nbsp;|&nbsp;
        <span class="mat-title">
          Interest Outstanding:&nbsp;
          <b>₹{{ report.interestOutstandingOpen.toLocaleString("en-IN") }}</b>
        </span>
      </mat-list-item>
      <mat-divider inset="true"></mat-divider>
      <mat-list-item>
        Return Principal:&nbsp;
        <b>
          ₹{{
          (
          report.principalClosed + report.principalPaidClosed
          ).toLocaleString("en-IN")
          }}
        </b>
        <span class="mat-title">
          &nbsp;|&nbsp; Total outstanding:&nbsp;
          <b>
            ₹{{
            (
            report.interestOutstandingOpen +
            report.principalOpen -
            report.principalPaidOpen
            ).toLocaleString("en-IN")
            }}
          </b>
        </span>
      </mat-list-item>
      <mat-divider inset="true"></mat-divider>
      <mat-list-item>
        Loan count - Total:&nbsp;
        <b>
          {{
          (report.loanCountOpen + report.loanCountClosed).toLocaleString(
          "en-IN"
          )
          }}
        </b>
        &nbsp;|&nbsp; Loan Count - Closed:&nbsp;
        <b>{{ report.loanCountClosed.toLocaleString("en-IN") }}</b>
        &nbsp;|&nbsp;
        <span class="mat-title">
          Loan Count - Open:&nbsp;
          <b>{{ report.loanCountOpen.toLocaleString("en-IN") }}</b>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>