<mat-card-header>
  <mat-card-title>Add/Edit Activites</mat-card-title>
</mat-card-header>
<form (ngSubmit)="onSubmit()">
  <mat-card-content>
    <div *ngFor="let activity of activitiesForm.controls; index as i">
      <ng-container [formGroup]="activity">
        <mat-form-field>
          <mat-label> <h3>Date</h3> </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            [calendarHeaderComponent]="calHeader"
          ></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option value="principal">Principal</mat-option>
            <mat-option value="finterest">Initial interest payment</mat-option>
            <mat-option value="ipayment">Interest payment</mat-option>
            <mat-option value="ppayment">Principal payment</mat-option>
            <mat-option value="appraiserFee">Appraiser fee</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label> <h3>Amount</h3> </mat-label>
          <input type="number" matInput formControlName="amount" />
        </mat-form-field>
        <a
          mat-raised-button
          mat-mini-fab
          (click)="removeActivity(i)"
          color="accent"
          ><mat-icon>delete</mat-icon></a
        >
      </ng-container>
    </div>
  </mat-card-content>
  <p *ngIf="activitiesForm.status === 'INVALID'">
    Fill all the fields!
  </p>
  <mat-card-actions>
    <button mat-raised-button (click)="onCancel()" color="warn">Cancel</button>
    <button
      mat-raised-button
      type="Submit"
      color="primary"
      [disabled]="!activitiesForm.valid"
    >
      Update
    </button>
    <a mat-raised-button mat-mini-fab (click)="addActivity()" color="accent">
      <mat-icon>add</mat-icon>
    </a>
  </mat-card-actions>
</form>
