<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="dateForm">
      <mat-form-field appearance="outline">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate" />
        <mat-datepicker-toggle matSuffix [for]="picker1">
        </mat-datepicker-toggle>
        <mat-datepicker #picker1 [calendarHeaderComponent]="calHeader">
        </mat-datepicker>
      </mat-form-field>
      &nbsp;
      <mat-form-field appearance="outline">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="endDate" />
        <mat-datepicker-toggle matSuffix [for]="picker2">
        </mat-datepicker-toggle>
        <mat-datepicker #picker2 [calendarHeaderComponent]="calHeader">
        </mat-datepicker>
      </mat-form-field>
      &nbsp;
      <button
        mat-raised-button
        type="Submit"
        [disabled]="!dateForm.valid"
        color="primary"
      >
        <mat-icon>search</mat-icon>
        Get report
      </button>
    </form>
  </mat-card-content>
</mat-card>
<br />
<span *ngIf="report">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Outstanding report </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          Loan Principal:&nbsp;
          <b>₹{{ report.principalOpen.toLocaleString("en-IN") }}</b>
          &nbsp;|&nbsp;Loan Principal paid:&nbsp;
          <b>₹{{ report.principalPaidOpen.toLocaleString("en-IN") }}</b>
          &nbsp;|&nbsp;
          <span class="mat-title">
            Principal Outstanding:&nbsp;
            <b
              >₹{{
                (
                  report.principalOpen - report.principalPaidOpen
                ).toLocaleString("en-IN")
              }}</b
            >
          </span>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          Total Interest:&nbsp;
          <b>
            ₹{{
              (
                report.interestPaidOpen + report.interestPaidClosed
              ).toLocaleString("en-IN")
            }}
          </b>
          &nbsp;|&nbsp; Interest paid - Open:&nbsp;
          <b>₹{{ report.interestPaidOpen.toLocaleString("en-IN") }}</b>
          &nbsp;|&nbsp; Interest paid - Closed:&nbsp;
          <b>₹{{ report.interestPaidClosed.toLocaleString("en-IN") }}</b>
          &nbsp;|&nbsp;
          <span class="mat-title">
            Interest Outstanding:&nbsp;
            <b>₹{{ report.interestOutstandingOpen.toLocaleString("en-IN") }}</b>
          </span>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          Return Principal:&nbsp;
          <b
            >₹{{
              (
                report.principalClosed + report.principalPaidClosed
              ).toLocaleString("en-IN")
            }}</b
          >
          <span class="mat-title">
            &nbsp;|&nbsp; Total outstanding:&nbsp;
            <b>
              ₹{{
                (
                  report.interestOutstandingOpen +
                  report.principalOpen -
                  report.principalPaidOpen
                ).toLocaleString("en-IN")
              }}
            </b>
          </span>
        </mat-list-item>
        <mat-divider inset="true"></mat-divider>
        <mat-list-item>
          Loan count - Total:&nbsp;
          <b>
            {{
              (report.loanCountOpen + report.loanCountClosed).toLocaleString(
                "en-IN"
              )
            }}
          </b>
          &nbsp;|&nbsp; Loan Count - Closed:&nbsp;
          <b>{{ report.loanCountClosed.toLocaleString("en-IN") }}</b>
          &nbsp;|&nbsp;
          <span class="mat-title">
            Loan Count - Open:&nbsp;
            <b>{{ report.loanCountOpen.toLocaleString("en-IN") }}</b>
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title> Open Loans </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-loan-list [loans]="openLoans" [loadLoans]="false"></app-loan-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title> Closed Loans </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-loan-list [loans]="closedLoans" [loadLoans]="false"></app-loan-list>
    </mat-card-content>
  </mat-card>
</span>
