@use '~@angular/material' as mat;

// custom theme start ---
//custom theme imports
@import '~@angular/material/theming';
@include mat-core();

// custom theme 01 start
// $my-app-primary: mat-palette($mat-pink, 900, 100, 100);
// $my-app-accent: mat-palette($mat-green, 600, 100, 900);
// custom theme 01 - end

// custom theme 02 - start
$my-app-primary: mat-palette($mat-green, 800, 100, 100);
$my-app-accent: mat-palette($mat-amber, 600, 100, 400);
// custom theme 02 - end

//applying the custom theme
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
//custom theme end ---

@include angular-material-theme($my-app-theme);
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
// @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

$my-custom-typography: mat.define-typography-config(
  $font-family: kanit,
);

@include mat.core($my-custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
.basic-container {
  padding: 8px;
  background-color: rgb(234, 231, 252);
}

table {
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
