@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
.basic-container {
  padding: 9px;
}

table {
  width: 100%;
}

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
